.results-wrapper {
  text-align: center;
  padding-top: 15px;
  line-height: 0; }
  .results-wrapper .chord-results {
    text-align: center;
    width: auto; }
    .results-wrapper .chord-results .interval-label {
      font-weight: bold; }
    .results-wrapper .chord-results .chord {
      display: inline-block;
      padding-right: 10px; }
      .results-wrapper .chord-results .chord button {
        width: 100px;
        height: 100px;
        background-color: white;
        border-color: black;
        transition: all 200ms ease; }
        .results-wrapper .chord-results .chord button .name {
          display: block;
          font-weight: bold;
          padding-top: 5px; }
        .results-wrapper .chord-results .chord button:hover, .results-wrapper .chord-results .chord button.active {
          background-color: #5E8BFF;
          font-weight: 700;
          border-width: 5px; }

.scales-wrapper .scale {
  margin: 15 0 15 0;
  padding: 19 0 15 0;
  height: 60px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid black;
  transition: all 200ms ease; }
  .scales-wrapper .scale:hover, .scales-wrapper .scale.active {
    color: black;
    padding-top: 15px;
    font-weight: 700;
    background-color: #5E8BFF;
    border-width: 5px; }

.tonic-wrapper {
  padding-top: 40px;
  padding-bottom: 40px; }
  .tonic-wrapper .dropdown-wrapper .dropdown-menu {
    border: 1px solid black;
    padding-left: 15px;
    margin-left: 15px;
    margin-top: -1px; }
  .tonic-wrapper .dropdown-wrapper .scale-type-dropdown a {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px; }
    .tonic-wrapper .dropdown-wrapper .scale-type-dropdown a:hover {
      font-weight: 700;
      border-width: 5px; }
  .tonic-wrapper button {
    width: 100%;
    border-color: black;
    color: black;
    height: 40px;
    background-color: white;
    transition: all 200ms ease; }
    .tonic-wrapper button.scale-type {
      width: 160px; }
    .tonic-wrapper button:hover, .tonic-wrapper button.active {
      background-color: #5E8BFF;
      border-color: black;
      color: black;
      font-weight: 700;
      border-width: 5px; }

.staff-wrapper #notation {
  margin-left: auto;
  margin-right: auto; }

.footer {
  padding-top: 20px;
  text-align: center; }
  .footer .description {
    font-style: italic; }

@media (max-width: 468px) {
  .container.desktop {
    display: none !important; } }

.container.desktop .state {
  padding-top: 20px; }

@media (min-width: 468px) {
  .container.mobile {
    display: none !important; } }

.container.mobile .row {
  text-align: center;
  padding-top: 15px; }

.container.mobile .dropdown-wrapper {
  display: inline-block; }

.container.mobile .dropdown-menu a {
  text-align: center;
  font-weight: bold;
  height: 30px;
  display: block; }

.container.mobile .state {
  padding-top: 40px;
  text-align: center; }

.home-page h1 {
  font-weight: 800; }

.home-page .pad-top {
  padding-top: 20px; }
