<html ng-app="diatonicator">
    <head>
        <!--<script type="text/javascript" src="teoria-play.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
        <script src="../dist/bundle.js"></script>
    </head>
    <body>
        
        <div ng-controller="diatonicController as diatonicator">
            <h4>Tonic: {{diatonicator._tonic}}</h4>
            <h4>Mode: {{diatonicator._scale}}</h4>
            <div class="tonic-wrapper">
                <div ng-repeat="tonic in diatonicator._tonics">
                    <span ng-click="diatonicator.setTonic(tonic.name)">{{tonic.name}}</span>
                </div>
            </div>

            <div class="scales-wrapper">
                <div ng-repeat="scale in diatonicator._scales">
                    <span ng-click="diatonicator.handleScaleClick(scale.name)">{{scale.name}}</span>
                </div>
            </div>

            <div class="results-wrapper">
                <div ng-repeat="chord in diatonicator.results">
                    <span>{{chord.interval}} : </span><span  ng-click="diatonicator.handleChordClick(chord)">{{chord.name}}</span>
                </div>
            </div>
        </div>

        <div id="notation"></div>

    </body>
</html>

<style>
    .picker {
        width : 200px;
        border-style : solid;
    }
</style>