$breakpoint-mobile: 468px;
$button-color: white;
$border-color: #2C3B63;
$background-color: #5E8BFF;
$border-color-highlight: #2C3B63;
$background-color-highlight: #5E8BFF;

.results-wrapper {
    text-align: center;
    padding-top: 15px;
    line-height: 0;

    .chord-results {
        text-align: center;
        width: auto;
    
        .interval-label {
            font-weight: bold;
        }
    
        .chord {
            display: inline-block;
            padding-right: 10px;
    
            button {
                width: 100px;
                height: 100px;
                background-color: white;
                border-color: black;
                transition: all 200ms ease;

                .name {
                    display: block;
                    font-weight: bold;
                    padding-top: 5px;
                }

                &:hover, &.active {
                    background-color: $background-color-highlight;
                    font-weight:700;
                    border-width: 5px;
                }
            }
        }
    }
}
 
.scales-wrapper {
    .scale {
        margin: 15 0 15 0;
        padding: 19 0 15 0;
        height: 60px;
    
        cursor: pointer;
        text-align: center;
    
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        border: 1px solid black;

        transition: all 200ms ease;

        &:hover, &.active {
            color: black;
            padding-top: 15px;
            font-weight:700;
            background-color: $background-color-highlight;
            border-width: 5px;
        }
    }
}

.tonic-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;

    .dropdown-wrapper {
        .dropdown-menu {
            border: 1px solid black;
            padding-left: 15px;
            margin-left: 15px;
            margin-top: -1px;
        }

        .scale-type-dropdown {
            a {
                display: block;
                margin-top: 5px;
                margin-bottom: 5px;

                &:hover {
                    font-weight:700;
                    border-width: 5px;
                }
            }
        }
        
    }

    button {
        width: 100%;
        border-color: black;
        color: black;
        height: 40px;
        background-color: white;
        transition: all 200ms ease;

        &.scale-type {
            width: 160px;
        }

        &:hover, &.active {
            background-color: $background-color-highlight;
            border-color: black;
            color: black;
            font-weight:700;
            border-width: 5px;
        }
    }
}

.staff-wrapper {
    #notation {
        margin-left: auto;
        margin-right: auto;
    }
}

.footer {
    padding-top: 20px;
    text-align: center;

    .description {
        font-style: italic;
    }
}

.container {
    &.desktop {
        @media (max-width: $breakpoint-mobile){
            display: none !important;
        }

        .state {
            padding-top: 20px;
        }
    }

    &.mobile {
        @media (min-width: $breakpoint-mobile) {
            display: none !important;
        }

        .row {
            text-align: center;
            padding-top: 15px;
        }

        .dropdown-wrapper {
            display:inline-block;
        }

        .dropdown-menu {
            a {
                text-align: center;
                font-weight: bold;
                height: 30px;
                display: block;
            }
        }

        .state {
            padding-top: 40px;
            text-align: center;
        }
    }
}